@import './../../utils/resources';

.navigation {
  position: fixed;
  transform: translateX(100vw);
  z-index: 101;
  
  padding: 30px;

  height: 100%;
  width: 80%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;

  font-size: 18px;
  line-height: 21.09px;

  transition: all ease-in-out $transition-duration;

  background-color: $white;

  &--open {
    transform: translateX(20vw);
  }

  &__close {
    display: flex;
    background-color: transparent;

    & img {
      width: 18px;
      height: 18px;
    }
  }

  &__top {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 60px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    & > a {
      position: relative;
      
      @include underLine;

      &::after {
        top: -10px;
      }
    }
  }
}
