@font-face {
  font-family: Roboto;
  font-weight: 400;
  src: url('./../../../public/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: Italianno;
  font-weight: 400;
  src: url('./../../../public/fonts/Italianno-Regular.ttf');
}
